body {
    font-family: 'Roboto Mono', monospace;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: #fff;
    background-image: url("");
    background-size: cover;
    background-position: 50% 50%;
}

.social-accounts {
    position: fixed;
    z-index: 1;
    right: 0;
    top: 42%;
}

.social-accounts ul {
    width: auto;
    list-style-type: none;
}

.social-accounts ul li {
    width: auto;
    text-align: center;
}

.social-accounts ul li a {
    display: block;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 22px;
    padding-top: 2px;
}

.social-icon-github {
    background-color: #24292e;
}

.social-icon-linkedin {
    background-color: #0077B5;
}

.social-icon-facebook {
    background-color: #3b5a9a;
}

#nav {
    border: none;
    border-radius: 0;
    background: transparent;
}

#nav-toggle {
    border-color: #9d9d9d;
}

#nav-toggle:focus {
    background-color: #fff;
}

#icon-bars {
    background-color: #9d9d9d;
}

#nav-brand:hover {
    background-color: #101010;
}

#myNavbar li:hover {
    background-color: #101010;
}

.its-me {
    margin-top: 30px;
    text-align: center;
}

.its-me img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.head-name {
    color: #2F2FCF;
    font-size: 3.5em;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

.interest {
    font: 2em;
    margin-top: 10px;
    font-weight: lighter;
    text-align: center;
}
