body {
    font-family: 'Roboto Mono', monospace;
}

#startup {
    margin-top: 75px;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: #fff;
    background-image: url("");
    background-size: cover;
    background-position: 50% 50%;
}

.social-accounts {
    position: fixed;
    z-index: 1;
    right: 0;
    top: 42%;
}

.social-accounts ul {
    width: auto;
    list-style-type: none;
}

.social-accounts ul li {
    width: auto;
    text-align: center;
}

.social-accounts ul li a {
    display: block;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 22px;
    padding-top: 2px;
}

.social-icon-github {
    background-color: #24292e;
}

.social-icon-linkedin {
    background-color: #0077B5;
}

.social-icon-facebook {
    background-color: #3b5a9a;
}

#nav {
    border: none;
    border-radius: 0;
    background: transparent;
}

#nav-toggle {
    border-color: #9d9d9d;
}

#nav-toggle:focus {
    background-color: #fff;
}

#icon-bars {
    background-color: #9d9d9d;
}

#nav-brand:hover {
    background-color: #101010;
}

#myNavbar li:hover {
    background-color: #101010;
}

section {
    margin: 80px 0;
}

.its-me {
    margin: 20px 0;
    text-align: center;
}

.its-me img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.head-name {
    color: #2F2FCF;
    font-size: 3.5em;
    margin: 15px 0;
    font-weight: bold;
    text-align: center;
}

.interest {
    font-size: 2em;
    margin: 15px 0;
    font-weight: lighter;
    text-align: center;
}

.current-status {
    font-size: 1.5em;
    text-align: center;
    margin-top: 10px;
}

.abt-me-header, .personal-details-header {
    font-size: 1.5em;
    font-weight: bolder;
    text-decoration: underline;
}

.abt-me-desc {
    font-size: 15px;
    font-weight: lighter;
    margin-top: 10px;
    text-align: justify;
}

.personal-details {
    position: relative;
    top: 50%;
    padding: 10px;
}

.personal-details-desc {
    margin-top: 10px;
}

.personal-details-desc ul {
    list-style-type: none;
    padding: 0;
}

.personal-details-desc ul li {
    padding: 5px 0;
}

.text-bolder {
    font-weight: bolder;
}
